@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  h2 {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
  } 
}

h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Indie Flower', cursive;
}

@media only screen and (max-width: 500px) {
  h3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

fieldset {
  border: 0;
}
legend {
  display: none;
}
 
.radioButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 500px) {
  .radioButtons {
    display: flex;
    flex-direction: row;
  }

}

.scifiButton {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-image: url("https://user-images.githubusercontent.com/46304321/62423783-bcd5af80-b6b4-11e9-9808-6045660d3d65.png");
}

.fantasyButton {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-image: url("https://user-images.githubusercontent.com/46304321/62424289-71270400-b6bc-11e9-82c4-ff11b2bff12f.png");
}

.horrorButton {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-image: url("https://user-images.githubusercontent.com/46304321/62424325-eeeb0f80-b6bc-11e9-86b2-ba792d6ae3ad.png");
}

.westernButton {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-image: url("https://user-images.githubusercontent.com/46304321/62424349-36719b80-b6bd-11e9-8545-278b86fd2920.png");
}

.litButton {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-image: url("https://user-images.githubusercontent.com/46304321/62424360-52753d00-b6bd-11e9-95de-1a4dfcc10b37.png");
}

.wildcardButton {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-image: url("https://user-images.githubusercontent.com/46304321/62424384-910af780-b6bd-11e9-86b3-7474eb0af035.png");
}

.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.downloadButton {
  margin-bottom: 3rem;
  height: 6rem;
}

#promptDownload {
  display: none;
}

.writing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#UserWriting {
  height: 30rem;
  width: 15rem;
  margin-top: 1rem;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
}
